html {
  max-width: 40rem;
  margin: auto;
}

body {
  font-family: sans-serif;
  margin: 1em;
  line-height: 1.5;
}

pre {
  white-space: pre-wrap;
  padding: 1rem;
  background-color: #eee;
  border-radius: 1rem;
}

img {
  max-width: 100%;
}

