<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>/r/ChineseLanguage Discord</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {% unless page.home %}
      <p><a href="/">Click here to return home.</a></p>
    {% endunless %}

{{ content }}

  </body>
</html>

